<% html_title "#{t(:label_administration)} - #{t(:label_company_plural)}" %>

<p><%= t(:label_companies_settings_projects) %></p>

<div class="form--field">
  <label class="form--label" for="settings_auto_calculate_projects">
    <%= t(:field_auto_calculate_projects) %>
  </label>
  <%= styled_check_box_tag 'settings[auto_calculate_projects]', '1', @settings['auto_calculate_projects'] %>
</div>

<p><%= t(:label_companies_settings_intro) %></p>

<div class="form--field">
  <label class="form--label" for="settings_top_text"><%= t(:field_top_text) %></label>
  <span class="form--field-container">
    <span class="form--text-area-container">
      <%= text_area_tag 'settings[top_text]', @settings['top_text'], :rows => 5, :class => 'wiki-edit' %>
      <%= wikitoolbar_for 'settings_top_text' %>
    </span>
  </span>
</div>

<div class="form--field">
  <label class="form--label" for="settings_top_text"><%= t(:field_bottom_text) %></label>
  <span class="form--field-container">
    <span class="form--text-area-container">
      <%= text_area_tag 'settings[bottom_text]', @settings['bottom_text'], :rows => 5, :class => 'wiki-edit' %>
      <%= wikitoolbar_for 'settings_bottom_text' %>
    </span>
  </span>
</div>

<%= link_to t(:label_custom_field_plural), :controller => 'custom_fields', :action => 'index', :params => {:tab => 'CompanyCustomField'} %>
<p><%= t(:notice_save_before_clicking) %></p>
