<p><%= t(:label_companies_settings_proyects) %></p>

<p>
  <label><%= t(:field_auto_calculate_proyects) %></label>
  <%= check_box_tag 'settings[auto_calculate_proyects]', '1', @settings['auto_calculate_proyects'] %>
</p>

<p><%= t(:label_companies_settings_intro) %></p>

<p>
  <label><%= t(:field_top_text) %></label>
  <%= text_area_tag 'settings[top_text]', @settings['top_text'], :rows => 5, :class => 'wiki-edit' %>
</p>
<%= wikitoolbar_for 'settings_top_text' %>

<p>
  <label><%= t(:field_bottom_text) %></label>
  <%= text_area_tag 'settings[bottom_text]', @settings['bottom_text'], :rows => 5, :class => 'wiki-edit' %>
</p>
<%= wikitoolbar_for 'settings_bottom_text' %>

<p>
  <%= link_to t(:label_custom_field_plural), :controller => 'custom_fields', :action => 'index', :params => {:tab => 'CompanyCustomField'} %> <%= t(:notice_save_before_clicking) %>
</p>
