<%= error_messages_for 'company' %>

<%= form_for @company, :builder => TabularFormBuilder, :html => {:multipart => true} do |f| %>

  <section class="form--section">
    <div class="form--field -required"><%= f.text_field :name, :required => true, container_class: '-wide' %></div>
    <div class="form--field -required"><%= f.text_field :identifier, :required => true, container_class: '-wide' %></div>
    <div class="form--field -required"><%= f.text_field :short_description, :required => true, container_class: '-wide' %></div>
    <div class="form--field"><%= f.text_area :description, container_class: '-wide' %></div>
    <div class="form--field"><%= f.text_field :url, container_class: '-wide' %></div>

    <% @company.custom_field_values.each do |value| %>
      <div class="form--field"><%= custom_field_tag_with_label :company, value %></div>
    <% end %>

    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= l(:field_logo) %></legend>
      <div class="form--field">
        <div class="attachment_field form--field-container">
          <div class="form--file-container">
            <%= f.file_field :logo, size: 30, id: nil, no_label: true %>
          </div>
        </div>
      </div>
      <%= logo_of(@company) %>
    </fieldset>
  </section>

  <%= styled_button_tag l(@company.new_record? ? :button_create : :button_save), class: '-highlight -with-icon icon-checkmark' %>

<% end %>

<% unless @company.new_record? %>

  <div style="clear: both;"></div>

  <div id="company-projects">
    <%= render :partial => 'projects' %>
  </div>

  <div id="company-members">
    <%= render :partial => 'members' %>
  </div>

<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'companies/companies', plugin: :openproject_companies %>
<% end %>
